body{
    background-color: black;
}

#swiechu{
    width: 500px;
    height: 1000px;
    margin-left: calc(50% - 250px);
    margin-top: -0.4%;
}

.hitbox{
    z-index: 2;
    opacity:0;
    position:absolute;
}

.penis{
    top: 730px;
    margin-left: calc(53.5% - 100px);
    width: 100px;
    height: 100px;
    background-color: lime;
}

.mainbox{
    width: 500px;
    height: 1000px;
    margin-left: calc(50% - 250px);
    top: 0;
    background-color: blue;
}